module Day<%= day.to_s.rjust(2, "0") %>
  module_function

  def input
    File.readlines("./input/<%= year %>/<%= day.to_s.rjust(2, "0") %>.txt", chomp: true)
  end

  def test_input
    File.readlines("./input/<%= year %>/<%= day.to_s.rjust(2, "0") %>-test.txt", chomp: true)
  end

  def parsed_input(test = false)
    put = test ? test_input : input
  end

  def part1(test = false)
  end

  def part2(test = false)
  end
end
